.block.current
    .block__content
        h2 currently sifting for
        .clearfix.mb-20
            button.btn.current__btn.active all
            button.btn.current__btn account planner
            button.btn.current__btn analyst
            button.btn.current__btn brand consultant
            button.btn.current__btn comms planner
            button.btn.current__btn content strategist
            button.btn.current__btn crm strategist
            button.btn.current__btn design strategist
            button.btn.current__btn digital strategist
            button.btn.current__btn experiential strategist
            button.btn.current__btn innovation strategist
            button.btn.current__btn pr strategist
            button.btn.current__btn research consultant
            button.btn.current__btn retail strategist
            button.btn.current__btn social strategist
            button.btn.current__btn ux strategist
        .current__planner
            .current__planner_head
                h3 account planner
                .exp
                    span Experience:&nbsp;8-12&nbsp;years
                    span.date Jan&nbsp;7
                    span.link Direct&nbsp;link
            .current__planner_body
                h3 <span class="clr-blue">innocean</span> is looking for a <span class="clr-l-blue">razor sharp planning director</span>  in huntingting. must be an insight hound and performance driven
            .current__planner_foot
                p <span class="clr-blue upp">required skills:</span> Brand strategy, Brand trackling study 
                button.btn.current__planner_foot-btn Apply
        .current__planner
            .current__planner_head
                h3 account planner
                .exp
                    span Experience:&nbsp;8-12&nbsp;years
                    span.date Jan&nbsp;7
                    span.link Direct&nbsp;link
            .current__planner_body
                h3 <span class="clr-blue">innocean</span> is looking for a <span class="clr-l-blue">razor sharp planning director</span>  in huntingting. must be an insight hound and performance driven
            .current__planner_foot
                p <span class="clr-blue upp">required skills:</span> Brand strategy, Brand trackling study 
                button.btn.current__planner_foot-btn Apply
        .current__planner
            .current__planner_head
                h3 account planner
                .exp
                    span Experience:&nbsp;8-12&nbsp;years
                    span.date Jan&nbsp;7
                    span.link Direct&nbsp;link
            .current__planner_body
                h3 <span class="clr-blue">innocean</span> is looking for a <span class="clr-l-blue">razor sharp planning director</span>  in huntingting. must be an insight hound and performance driven
            .current__planner_foot
                p <span class="clr-blue upp">required skills:</span> Brand strategy, Brand trackling study 
                button.btn.current__planner_foot-btn Apply
        p.more Load more    
