header.header
    .block__content
        img(src="/img/logo.png").header__logo
        .header__button-group
            .header__btns
                button.btn.header__btn.js-find find a gig
                button.btn.header__btn post a gig
            a.header__link how at works
            a.header__link invite
            button.btn.header__login log in