<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="stylesheet" href="/normalize.css/normalize.css")
    link(rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/dark-hive/jquery-ui.css")
    link(rel="stylesheet" href="/css/import.css")
    title LANDING_PAGE_JULY
body
    
    include ./popup.pug
    include ./header.pug
    include ./hello.pug
    include ./join.pug
    include ./siftly.pug
    include ./what.pug
    include ./current.pug
    
    script(src="/jquery/dist/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    script(src="/js/main.js")
