.block.block__angle.join
    .block__content
        h2 join the only smart job matching site for strategists and planners
        .clearfix
            .join__part
                .join__img
                    img(src="/img/pic2.png")               
                button.btn.join__btn.js-find find gigs
            .join__part
                .join__img
                    img(src="/img/pic3.png")
                button.btn.join__btn find freelancers