.block.block__angle.siftly
    .block__content
        h2 how siftly<span>now</span> works for <br/>freelancers
        .clearfix
            .siftly__part
                h3 create profile
                .siftly__img
                    img(src="/img/siftly1.png")               
                p Tell us who you are and what you are looking for 
            .siftly__part
                h3 brag a bit
                .siftly__img
                    img(src="/img/siftly2.png")
                p Let us know what your specialities and skills are      
            .siftly__part
                h3 get matchet                   
                .siftly__img
                    img(src="/img/siftly3.png")
                p Sit back while we sift the perfect gig for you delivered straight to your inbox
            .siftly__part
                h3 apply
                .siftly__img
                    img(src="/img/siftly4.png")
                p Choose to throw in your hat to any gig that interest you
            .siftly__part
                h3 get hired
                .siftly__img
                    img(src="/img/siftly5.png")
                p Get hired as our clients determines you as the perfect wo/man for the job