.block.what
    .block__content
        h2 what projects we can help with
        h3 here are the most common projects our specialists get hired for
        .clearfix
            ul.what__part
                li Analytics and reporting
                li Award Submission
                li Brand strategy
                li Brand tracking 
                li Brand visioning
                li Brainstorms and ideation
                li Campaign planning
                li Case study development
                li Communications planning
                li Competitive analysis
                li Concept creation
                li Consumer insights
                li Copy testing
            ul.what__part
                li Cultural planning
                li Customer journey mapping
                li Creative strategy
                li Creative brief / briefing
                li CX strategy
                li Data analysis
                li Digital strategy
                li Ethnographies
                li Go-to-market plan
                li Innovation strategy
                li Qualitative research
                li Quantitative research
                li New business pitch
            ul.what__part
                li Market landscape analysis
                li Market sizing
                li Messaging strategy
                li Moderating
                li Multicultural planning
                li Product positioning
                li Research design
                li RFP Proposal
                li Segmentation study
                li Social media strategy
                li Social listening
                li UX Strategy
